:root {


  color-scheme: light dark;
  color: rgba(47, 42, 42, 0.87);
  background-color: #4a95ea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: 800;
}

main {
  width: 100%;
  padding: 2rem 0;
}

button {
  font-family: "Quicksand";
  font-size: 14pt;
  font-weight: 800;
  padding: 0.4rem;
  margin: 0.3rem 0 0.3rem 0;
  background-color: #e8ff8d; 
  color: rgba(47, 42, 42, 0.87);
  border-radius: 5px;
  border: 1.5px solid rgba(47, 42, 42, 0.87);

}

input {
  font-family: "Quicksand";
  font-size: 14pt;
  font-weight: 800;
  padding: 0.4rem;
  margin: 0.3rem 0 0.3rem 0;
  background-color: #f0f0f0;
  color: rgba(47, 42, 42, 0.87);
  border-radius: 5px;
  border: 1.5px solid rgba(47, 42, 42, 0.87);
}

